body div ol li p{
	margin:0;
	padding:0;
}

a {
	text-decoration: none;
}

body {
	font: 12px/1.125 Arial,Helvetica,sans-serif;
}

#items {
	list-style-type: none;
    margin: auto;
    width: 80%;
    position: relative;
}

.item {
    box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 3px 0px;
	word-wrap: break-word;
    position: absolute;
    width: 192px;
   	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.item:after {
	clear: both;
	content: "";
	display: block;
}

.item span{
	padding-right: 5px;
}

.usercontent {
    background-color: #f2f0f0;
    padding: 10px 10px 0;
}

.textcontent {
	display: block;
}

.content_main {

}

.user {
    margin: 5px;
    float: left;
}

.content {
	position: relative;
	overflow: hidden;
}

.text {
	padding: 5px;
}

.retweet {
	margin: 10px;
}

.thumbnail {
	width: 172px;
	text-align: center;
	margin: 10px 0;
}

.reposts {
	list-style-type: none;
}

.comments {
	list-style-type: none;
}

.interaction {
    padding: 15px;
    background-color: #f2f0f0;
    text-align: right;
}

.info {
	display: none;
	font-size: xx-small;
	background-color: #f2f0f0;
	font-family: simsun
}

.nameinfo {
	height: 55px;
	display: table;
}

.retweet .nameinfo {
	height: 20px;
}

.username {
	display: table-cell;
	vertical-align: middle;
}

.client, .time{
	display: block;
	padding-left: 10px;
}

.forward, .comment {
	cursor: pointer;
}