body div ol li p{
	margin:0;
	padding:0;
}

a {
	text-decoration: none;
}

body {
	font: 12px/1.125 Arial,Helvetica,sans-serif;
}

#items {
	list-style-type: none;
    margin: auto;
    width: 80%;
}

.item {
    box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 3px 0px;
    float: left;
	word-wrap: break-word;
    margin: 10px;
    width: 25%;
}

.item:after {
	clear: both;
	content: "";
	display: block;
}

.item span{
	padding-right: 5px;
}

.usercontent {
    border-top-style: solid;
    border-width: 1px;
    border-color: #F5F2F2;
    padding: 10px;
}

.content_main {

}

.user {
    margin: 5px;
    float: left;
}

.content {
	position: relative;
	overflow: hidden;
}

.text {
	margin: 5px;
}

.retweet {
	margin: 10px;
}

.retweet img {
	padding: 5px;
}

.reposts {
	list-style-type: none;
}

.comments {
	list-style-type: none;
}

.interaction {
    margin: 10px;
}
